@{
    ViewBag.Title = "View Articles";
}

<style>
    table {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>

<h1>Articles</h1>

<a class="btn btn-primary" href="@Url.Action("Edit", "PublishArticles", new { id = 0 })"><span class="glyphicon glyphicon-file"></span>&nbsp;&nbsp;New Article</a>&nbsp;
<div id="divArticlesTable">
    @Html.Action("ArticlesTable")
</div>

@section scripts {
    <script>
        function deleteArticle(id) {
            var response = confirm("Are you sure you want to delete this article?");
            if (response) {
                $.ajax({
                    url: "@Url.Action("Delete")",
                    type: "post",
                    data: { id: id },
                    success: function (data) {
                        showMessage($("#divSuccess"), "Item Deleted");
                        $("#divArticlesTable").load("@Url.Action("ArticlesTable")");
                    },
                    error: function (request, status, error) {
                        showMessage($("#divError"), "Error Deleting Item!")
                    }
                });
            }
        }
    </script>
}